body {
    background-color: black;
}
h1 {
    font-family: Impact;
    text-align: center;
    color: #FFFFFF;
}
.header {
    position:relative;
    top:-10px;
    background-color: #FFFFFF;
    border-top-left-radius:15px;
    border-top-right-radius:15px;
}