@font-face {
  font-family: "Birds";
  src:url("fonts/Birds of Paradise.ttf") format("truetype");
}
@font-face {
  font-family: "Circus";
  src:url("fonts/CircusOrnate.ttf") format("truetype");
}
@font-face {
  font-family: "Talldeco";
  src:url("fonts/TALLDECO.ttf") format("truetype");
}
@font-face {
  font-family: "Day";
  src:url("fonts/DAYPBL.ttf") format("truetype");
}
@font-face {
  font-family: "Dinerfatt";
  src:url("fonts/Diner-Fatt.ttf") format("truetype");
}
@font-face {
  font-family: "Diner-obese";
  src:url("fonts/Diner-Obese.ttf") format("truetype");
}
@font-face {
  font-family: "Diner-regular";
  src:url("fonts/Diner-Regular.ttf") format("truetype");
}
@font-face {
  font-family: "Diner-skinny";
  src:url("fonts/Diner-Skinny.ttf") format("truetype");
}
@font-face {
  font-family: "EastM";
  src:url("fonts/EastMarket.ttf") format("truetype");
}


* { 
color:white;;
}
.body1 {
	width:90%;
	height:460px;
	box-shadow: 50px 50px 50px rgba(0,0,0,0.4);
	border: 2px solid white;
	border-top-left-radius:15px;
	border-top-right-radius:15px;
	border-bottom-right-radius:15px;
	border-bottom-left-radius:15px;
	margin-bottom: 0px;
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 300px;
    background-color: rgba(255,255,255,.15);
    position:absolute;
}
.body2 {
	width:90%;
	height:460px;
	box-shadow: 50px 50px 50px rgba(0,0,0,0.4);
	border: 2px solid white;
	border-top-left-radius:15px;
	border-top-right-radius:15px;
	border-bottom-right-radius:15px;
	border-bottom-left-radius:15px;
	margin-bottom: 0px;
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 800px;
    padding-bottom: 0px;
    padding-left: 0px;
    padding-right: 0px;
    padding-top: 0px; 
    background-color: rgba(255,255,255,.15);
    position:absolute;
}
.body3 {
	width:90%;
	height:460px;
	box-shadow: 50px 50px 50px rgba(0,0,0,0.4);
	border: 2px solid white;
	border-top-left-radius:15px;
	border-top-right-radius:15px;
	border-bottom-right-radius:15px;
	border-bottom-left-radius:15px;
	margin-bottom: 0px;
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 1300px;
    padding-bottom: 0px;
    padding-left: 0px;
    padding-right: 0px;
    padding-top: 0px; 
    background-color: rgba(255,255,255,.15);
    position:absolute;
}

.body1 > #bio {
    text-align:center;
    font-size:18px;
    font-family:"Day";
    margin:auto;
}
h1 {
        font-size:50px;
        font-family:"Talldeco";
}
#header {
    font-family:"Talldeco";
    font-size: 25px;
    display:block;
	width:95%;
	height:230px;
	box-shadow: 50px 50px 50px rgba(0,0,0,0.4);
	border-bottom-right-radius:15px;
	margin-bottom: 0px;
    margin-left: 0px;
    margin-right: 0px;
    margin-top: -115px;
    padding-bottom: 0px;
    padding-left: 0px;
    padding-right: 0px;
    padding-top: 0px;
	/*border-top:0;*/
	/*padding-top:0;*/
	/*margin-left:-150px;*/
	/*margin-top:-130px;*/
    /*left:50%;*/
    /*top:50%;*/
    position:absolute;
}
div.contenedor{
	width: 16.66666%;
	height: 230px;
	float:left;
	-webkit-transition: height .4s;
	 
}
#uno{
	background-color: rgba(255,255,255,.70);
	border-top-left-radius:15px;
	border-bottom-left-radius:15px;
	background-image:url("imagenes/paper.jpg");
}

#dos{
	background-color: rgba(255,255,255,.70);
	background-image:url("imagenes/paper.jpg");
}

#tres{
	background-color: rgba(255,255,255,.70);
	background-image:url("imagenes/paper.jpg");;
}

#cuatro{
	background-color: rgba(255,255,255,.70);
	background-image:url("imagenes/paper.jpg");
}

#cinco{
	background-color: rgba(255,255,255,.70);
	background-image:url("imagenes/paper.jpg");
}

#seis{
    border-top-right-radius:15px;
    border-bottom-right-radius:15px;
	background-color: rgba(255,255,255,1);
	background-image:url("imagenes/paper.jpg");
}
img.icon{
	display: block;
	margin:40px auto;
	background-color: rgba(255,255,255,.15);
	width:70px;
	padding:20px;
	-webkit-border-radius: 50%;
	-webkit-box-shadow: 0px 0px 0px 30px rgba(255,255,255,0);
	-webkit-transition:box-shadow .4s;
}
.menu > p {
    color:white;
}
.menu {
	font-size: 1.2em;
	color:white;
	text-align: center;
	padding-top:10px;
	opacity: .6;
	-webkit-transition: padding-top .4s;
}

div.contenedor:hover{
	height:250px;
}
div.contenedor:hover p.menu{
	padding-top: 30px;
	opacity: 1;
}
div.contenedor:hover img.icon{
	-webkit-box-shadow:0px 0px 0px 0px rgba(255,255,255,.6);
}

a {
    text-decoration: none;
    color: white
}
.FV{
    height:100%;
    width:100%;
}
#enter {

 position:relative;
}

 body{
    max-width:100%;
    max-height:100%;
    background-image:url("imagenes/Madera.jpg");
    background-size: 100% 100%;
    background-attachment:fixed;
    overflow:scroll;
    text-align:center;
    display:block;
    margin: 100px auto;
    padding:30px;
    position:relative;
    float:none;
 }
 .twitter {
    margin-top:20%;
}

#aves {
    width:640px;
    height:640px;
    position:relative;
    margin-left:20%;
    margin-top:200px;
    background-image: url("imagenes/image.jpg");
    box-shadow: 50px 50px 50px rgba(0,0,0,0.4);
}
#info {
    position:absolute;
    width:640px;
    height:640px;
    background-color: rgba(31,31,31,.9);
    -webkit-transition:opacity 0.2s;
    opacity:0;
    overflow:hidden;
}
div#aves:hover div#info {
    opacity:1;
}
#headline {
    text-align:center;
    position:absolute;
    -webkit-transition:margin 0.2s;
    margin-left:auto;
    font-size:50px;
    margin-top:20px;
}
div#aves:hover p#headline{
margin-left:185px;
text-align:center;
}

p#info2{
    width:600;
    text-align:center;
    margin:auto;
    -webkit-transition:margin 0.3s;
    margin-top: 660px;
}
div#aves:hover p#info2{
    margin-top:70px;
}
#info2 a {
    color:white;
    text-decoration:none;
}
.end{
    width:95%;
    height:3px;
    background-color:white;
    margin-top: 1800px;
    margin-left:18px;
    box-shadow: 50px 50px 50px rgba(0,0,0,0.4);
    position:relative;
}

#Vaves{
    margin-top:300px;
    position:relative;
}
#following{
    
    margin-top:20px;
    position:relative;
}
.inedit {
    
    margin-top:20px;
    position:relative;
}
.conciertos {
    
    margin-top:20px;
    position:relative;
}
#begin {
    margin-top:200px;
 }
#camiseta > img {
    width:50%;
    height:50%;
    border-top-right-radius:15px;
    border-top-left-radius:15px;
    border-bottom-right-radius:15px;
    border-bottom-left-radius:15px;
    box-shadow: 50px 50px 50px rgba(0,0,0,0.4);
 }
 #nadamas > img {
    width:30%;
    height:30%;
 }
#Sudadera1 > img  {
    width:25%;
    height:25%;
    border-top-right-radius:15px;
    border-top-left-radius:15px;
    border-bottom-right-radius:15px;
    border-bottom-left-radius:15px;
    box-shadow: 50px 50px 50px rgba(0,0,0,0.4);
}
#Sudadera2 > img  {
   width:25%;
    height:25%;
    border-top-right-radius:15px;
    border-top-left-radius:15px;
    border-bottom-right-radius:15px;
    border-bottom-left-radius:15px;
    box-shadow: 50px 50px 50px rgba(0,0,0,0.4); 
}
#formulario {
    position:relative;
}
#tabla {
    margin-left:33%;
    margin-top:20%;
}
#tabla > table {
    position:absolute;
}
#letras1 > a> img{
    width:320px;
    height:320px;
    margin-top:25%;
    box-shadow: 50px 50px 50px rgba(0,0,0,0.4);
}
#end2 {
    display:block;
}
#end > p {
    margin:5%auto;
}
