body {
    background-color: black;
}
@font-face {
  font-family: "GeosansLight";
  src:url("imagenes/GeosansLight.ttf") format("truetype");
}
@font-face {
  font-family: "Helvetica";
  src:url("imagenes/helvetica-destru-pix.ttf") format("truetype");
}

.header {
    margin:100px auto;
    max-width:1200px;
    height:230px;
    background-color:white;
}
.contenedor{
    width:200px;
    height:230px;
    float:left;
    transition:height .4%;
}
#uno{
    background-color: rgb(200,101,3);
}
#dos{
    background-color: rgb(233,147,26);
}
#tres{
    background-color: rgb(22,145,190);
}
#cuatro{
    background-color: rgb(22,107,162);
}
#cinco{
    background-color: rgb(27,54,71);
}
#seis{
    background-color: rgb(21,40,54);
}
.icon{
    display:block;
    margin:50px auto;
    background-color: rgba(255,255,255,.15);
    width:40px;
    padding:20px;
    border-radius:50%;
}
.menu{
    font-size:1.2em;
    color:white;
    text-align:center;
    padding-top:10px;
    opacity:.6;
}
.contenedor:hover{
    height:250px;
    
}


a {
    text-decoration: none;
    color: #000000
}
.FV{
    height:100%;
    width:100%;
}
#enter a{ 
    text-decoration:none;
    text-decoration: none;
    display: block;
    font-size: 40px;
    line-height: 48px;
    background: url('imagenes/FCX.jpg') no-repeat top center;
    color: #f2f2f2;
    border-radius: 5px;
    padding: 15px;
    height: 900px;
    width: 865px;
    text-indent: -9999em;
    margin: 150px auto;
}
#slider{
    margin:50px auto;
    position:relative;
    width:240px;
    height:240px;
    padding: 10px;
    box-shadow: 0 0 20px rgba(0,0,0,0.4);
}
#slider > div {
    position:absolute;
    top: 10px;
    left:10px;
    right:10px;
    bottom:10px;
}
.twitter{
    display:block;
    margin:auto;
    position:fixed;
    float:none;
}